button, input, select, textarea {
  font-family: inherit;
  font-size: 200%;
  box-sizing: border-box;
  display: block;
}

input[type=submit] {
  width: 100%;
  background-color: SteelBlue;
}

input {
  border-radius: 30px;
}

fieldset {
  border:none;
}

fieldset input {
  display:inline;
}

.checkmark input {
  cursor: pointer;
}
